<?xml version="1.0" encoding="utf-8"?>
<!--
© Copyright 2011 Thibault Jouannic <thibault@jouannic.fr>. All Rights Reserved.

This file is part of Napply.

Napply is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Napply is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Napply. If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.miximum.napply" android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:label="@string/app_name" android:icon="@drawable/icon">

		<!-- Napply widget -->
		<receiver android:name="NapplyWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="fr.miximum.napply.START_ALARM" />
				<action android:name="fr.miximum.napply.CANCEL_ALARM" />
				<action android:name="fr.miximum.napply.ALARM_TERMINATED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/napply_widget_meta" />
		</receiver>

		<!-- Configure activity -->
		<activity android:name="WidgetConfigure" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<activity android:name="Napply" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="AlarmService">
		    <intent-filter>
			    <action android:name="fr.miximum.napply.RING_ALARM" />
			    <action android:name="fr.miximum.napply.CANCEL_ALARM" />
			    <action android:name="fr.miximum.napply.SNOOZE_ALARM" />
			</intent-filter>
		</service>
		<activity android:name="AlarmCancelDialog">
		     <intent-filter>
	             <action android:name="fr.miximum.napply.RING_ALARM" />
	         </intent-filter>
		</activity>
    </application>
</manifest>
